<h1> Available Nannies </h1>

<div class = "row">
  <% @nannies.each do |nanny| %>
    <div class="col-4 mb-5">
      <div class="card-trip">
        <img src=<%="https://source.unsplash.com/800x600/?mother-baby/#{rand(50)}"%>>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to nanny.nanny_name, nanny_path(nanny) %></h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class ="row">
  <div
    id="map"
    style="width: 70%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
