<div class="background-booking">
  <div class="container">
    <br>
    <h3>Edit your booking with <strong><%= @booking.nanny.nanny_name %></strong></h3>
    <br>

    <%= render 'form', booking: @booking %>
  </div>
</div>
