<div class="background-booking">
  <div class="container">
    <br>
    <h3>Create a new booking with <strong><%= @nanny.nanny_name %></strong></h3>
    <br>

    <%= render 'form', booking: @booking %>
  </div>
</div>
