
<div class="banner">
  <div class="container">
    <h1>Families come in all <strong>shapes</strong> and <strong>sizes</strong></h1>
    <p>We love to help families to take the pressure off from day to day tasks so that families can focus on what is important.</p>

      <%= link_to "Find a Nanny", nannies_path, :class => "btn btn-flat" %>

  </div>
</div>
