.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.nanny-avatar-container{
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.nanny_avatar {
    // background-color: rgb(216, 216, 216) !important;
    // vertical-align: middle !important;
    // display: block !important;
    border-radius: 50% !important;
    margin-left: 29px;
    margin-right: 29px;
    margin:0 auto;
    width: 250px;
    height: 100%;
    object-fit: cover;
    // border-width: 2px !important;
    // border-style: solid !important;
    // border-color: rgb(255, 255, 255) !important;
    // overflow: hidden !important;
}


