body h1, h2, h3, h4 {
  line-height: 1.2em;
  color: #4b4b4b;
  font-family: Raleway;
}

body p, ul {
  font-family: Raleway;
  color: #4b4b4b;
}

.background-booking {
  background-color: #f1f3f4;
  background-size: cover;
  // height: calc(100vh - 66px);
  width: 100vw;
  height: auto;

}
